In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Batsman_Data.csv")
df.head()

,Unnamed: 0,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID
0,1,DNB,-,-,-,-,-,v India,Nagpur,18 Dec 2009,ODI # 2933,Oshane Thomas,49619
1,2,DNB,-,-,-,-,-,v India,Kolkata,24 Dec 2009,ODI # 2935,Oshane Thomas,49619
2,3,DNB,-,-,-,-,-,v India,Delhi,27 Dec 2009,ODI # 2936,Oshane Thomas,49619
3,4,DNB,-,-,-,-,-,v Bangladesh,Dhaka,4 Jan 2010,ODI # 2937,Oshane Thomas,49619
4,5,DNB,-,-,-,-,-,v India,Dhaka,5 Jan 2010,ODI # 2938,Oshane Thomas,49619

In [3]:
df.drop(["Unnamed: 0", "Player_ID"], axis = 1, inplace = True)
df.head()

,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman
0,DNB,-,-,-,-,-,v India,Nagpur,18 Dec 2009,ODI # 2933,Oshane Thomas
1,DNB,-,-,-,-,-,v India,Kolkata,24 Dec 2009,ODI # 2935,Oshane Thomas
2,DNB,-,-,-,-,-,v India,Delhi,27 Dec 2009,ODI # 2936,Oshane Thomas
3,DNB,-,-,-,-,-,v Bangladesh,Dhaka,4 Jan 2010,ODI # 2937,Oshane Thomas
4,DNB,-,-,-,-,-,v India,Dhaka,5 Jan 2010,ODI # 2938,Oshane Thomas

In [4]:
df = df.replace("-", 0)
df.head()

,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman
0,DNB,0,0,0,0,0,v India,Nagpur,18 Dec 2009,ODI # 2933,Oshane Thomas
1,DNB,0,0,0,0,0,v India,Kolkata,24 Dec 2009,ODI # 2935,Oshane Thomas
2,DNB,0,0,0,0,0,v India,Delhi,27 Dec 2009,ODI # 2936,Oshane Thomas
3,DNB,0,0,0,0,0,v Bangladesh,Dhaka,4 Jan 2010,ODI # 2937,Oshane Thomas
4,DNB,0,0,0,0,0,v India,Dhaka,5 Jan 2010,ODI # 2938,Oshane Thomas

# Total number of Players

In [5]:
df["Batsman"] = df["Batsman"].apply(lambda x: x.lower())

In [6]:
no_of_players = df.groupby("Batsman")["Batsman"].agg("count")

In [7]:
no_of_players.shape

(149,)

# Total number of players = 149

# Total number of Grounds

In [8]:
df["Ground"] = df["Ground"].apply(lambda x: x.lower())

In [9]:
no_of_ground = df.groupby("Ground")["Ground"].agg("count")

In [10]:
df.groupby("Ground")["Ground"].agg("count")

Ground
aberdeen           7
abu dhabi        319
adelaide         157
ahmedabad         35
amstelveen        24
                ...
vadodara          13
vijayawada         1
visakhapatnam     67
wellington       202
whangarei         19
Name: Ground, Length: 134, dtype: int64

In [11]:
no_of_ground.shape

(134,)

# Total number of grounds = 134

# Total Runs per Player

In [12]:
df['Runs'] = df["Runs"].apply(pd.to_numeric)

In [13]:
players = df.groupby('Batsman')
total_runs = players['Runs'].sum()
total_runs

Batsman
aaron finch          4052
abid ali              112
abu jayed               0
adam zampa             99
adil rashid           541
                    ...
trent boult           144
usman khawaja        1238
vijay shankar         165
virat kohli         10843
yuzvendra chahal       34
Name: Runs, Length: 149, dtype: int64

# Number of matches played per Player

In [14]:
no_of_players = df.groupby("Batsman")["Batsman"].agg("count")
no_of_players

Batsman
aaron finch         109
abid ali              3
abu jayed             2
adam zampa           44
adil rashid          88
                   ...
trent boult          79
usman khawaja        31
vijay shankar         9
virat kohli         227
yuzvendra chahal     41
Name: Batsman, Length: 149, dtype: int64

# Number of 4s per Player

In [15]:
df['4s'] = df["4s"].apply(pd.to_numeric)
players = df.groupby('Batsman')
total_runs = players['4s'].sum()
total_runs

Batsman
aaron finch          406
abid ali               9
abu jayed              0
adam zampa             6
adil rashid           60
                    ...
trent boult           13
usman khawaja        120
vijay shankar         14
virat kohli         1019
yuzvendra chahal       5
Name: 4s, Length: 149, dtype: int64

# Number of 6s per Player

In [16]:
df['6s'] = df["6s"].apply(pd.to_numeric)
players = df.groupby('Batsman')
total_runs = players['6s'].sum()
total_runs

Batsman
aaron finch          94
abid ali              0
abu jayed             0
adam zampa            1
adil rashid           6
                   ...
trent boult           6
usman khawaja        12
vijay shankar         4
virat kohli         116
yuzvendra chahal      0
Name: 6s, Length: 149, dtype: int64

# Not Outs per Player

In [17]:
df["Bat1"].unique()

array(['DNB', '0*', '1*', '0', '1', '2*', '4*', '3', '7*', '8', '7', '3*',
       '10', 'TDNB', '20*', '26', '23*', '11*', '5*', '2', '5', '12',
       '20', '49', '92*', '25', '22', '11', '40*', '29', '53', '37', '34',
       '41', '42*', '59*', '9', '43', '18', '4', '6*', '46', '19', '16',
       '64*', '24', '27*', '13', '12*', '24*', '9*', '14*', '8*', '26*',
       '15*', '6', '21', '34*', '44', '10*', '19*', '31*', '27', '40',
       '25*', '13*', '14', '148', '47', '33', '35', '176*', '76', '31',
       '64', '66', '17', '101', '15', '71', '48*', '81', '51', '72', '23',
       '35*', '49*', '32', '123*', '95', '146*', '108*', '170', '109',
       '30', '87', '74', '127', '36', '38', '52', '125', '106', '94',
       '104*', '28*', '45*', '39', '79', '73', '67', '86', '60', '28',
       '100*', '72*', '55', '70', '54', '59', '50', '51*', '124', '102',
       '61', '33*', '58*', '42', '152', '85', '62', '84', '103', '140',
       '119', '153*', '112*', '152*', '60*', '132*', '99', '82', '132',
       '95*', '123', '58', '45', '133*', '85*', '92', '110*', '113',
       '122', '46*', '135', '80', '57', '88', '63', '37*', '63*', '215',
       '162', '77', '16*', '22*', '21*', '17*', '56', '68', '41*', '99*',
       '54*', '32*', '52*', '48', '30*', '78', '36*', '69*', '65', '80*',
       '47*', '39*', '44*', '18*', '116', '69', '89', '102*', '62*',
       '139*', '90', '81*', '87*', '75', '55*', '77*', '71*', '74*',
       '56*', '93', '70*', '67*', '111*', '79*', '97*', '78*', 'absent',
       'sub', '29*', '38*', '129', '66*', '150*', '97', '115*', '53*',
       '130*', '138*', '118*', '117*', '75*', '139', '50*', '110', '119*',
       '116*', '112', '150', '98', '100', '122*', '61*', '133', '159',
       '154', '128', '107', '178', '168*', '83', '121', '126', '96',
       '73*', '111', '105', '185', '91*', '120', '89*', '101*', '130',
       '57*', '43*', '115', '136*', '140*', '113*', '151', '114', '82*',
       '210*', '138', '118', '143', '86*', '108', '125*', '96*', '117',
       '106*', '128*', '131*', '107*', '105*', '88*', '181*', '137',
       '83*', '124*', '91', '103*', '189*', '237*', '93*', '180*', '104',
       '145*', '65*', '183*', '109*', '84*', '68*', '134', '90*', '141*',
       '209', '264', '171*', '147', '208*', '137*', '183', '136', '154*',
       '76*', '131', '160*', '129*', '157*', '180', '171', '127*', '144',
       '134*', '163', '173', '156', '179', '149', '164'], dtype=object)

In [18]:
a = ['DNB','TDNB','absent','sub']

In [19]:
l = []
for i in df['Bat1']:
    if i in a:
        l.append(i)
    else:
        try:
            int(i)
            l.append("Out")
        except:
            l.append("Not Out")

In [20]:
df['Bat'] = l

In [21]:
df.head()

,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Bat
0,DNB,0,0,0,0,0,v India,nagpur,18 Dec 2009,ODI # 2933,oshane thomas,DNB
1,DNB,0,0,0,0,0,v India,kolkata,24 Dec 2009,ODI # 2935,oshane thomas,DNB
2,DNB,0,0,0,0,0,v India,delhi,27 Dec 2009,ODI # 2936,oshane thomas,DNB
3,DNB,0,0,0,0,0,v Bangladesh,dhaka,4 Jan 2010,ODI # 2937,oshane thomas,DNB
4,DNB,0,0,0,0,0,v India,dhaka,5 Jan 2010,ODI # 2938,oshane thomas,DNB

In [22]:
df['Bat'].unique()

array(['DNB', 'Not Out', 'Out', 'TDNB', 'absent', 'sub'], dtype=object)

In [23]:
l2 = []
for i in df['Opposition']:
    a = i.split(' ',maxsplit=1)
    l2.append(a[-1])

In [24]:
df['Opposition'] = l2
df.head()

,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Bat
0,DNB,0,0,0,0,0,India,nagpur,18 Dec 2009,ODI # 2933,oshane thomas,DNB
1,DNB,0,0,0,0,0,India,kolkata,24 Dec 2009,ODI # 2935,oshane thomas,DNB
2,DNB,0,0,0,0,0,India,delhi,27 Dec 2009,ODI # 2936,oshane thomas,DNB
3,DNB,0,0,0,0,0,Bangladesh,dhaka,4 Jan 2010,ODI # 2937,oshane thomas,DNB
4,DNB,0,0,0,0,0,India,dhaka,5 Jan 2010,ODI # 2938,oshane thomas,DNB